.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  left: 0;
  right: 0;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.header-img img{
  width: 100%;
  height: 180px;
  background-size: cover;
}

.footer-div {
  position: bottom;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #363945;
  color: white;
  text-align: center;
  line-height:100px;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;
  height:50px; 
  width:200px; 
  margin: -0px -20px; 
  position:relative;
  top:0%; 
  left:40%;} /* Green */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
